@inject NavigationManager nav
@inject IBookingHttpService bookingService



<button class="btn btn-outline-dark" @onclick="@ApproveAppointmentAsync"><span class="oi oi-task" aria-hidden="true" /></button>

@code {

    [Parameter, EditorRequired]
    public int Id { get; set; }

    private async Task ApproveAppointmentAsync()
    {
        await bookingService.ApproveAppointmentAsync(Id);
    }
}
